.bookList {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

.book {
  color: blueviolet;
  border-radius: 1rem;
  padding: 1rem 2rem;
}

.book > * {
  margin-top: 0.5rem;
}

@media screen and (min-width: 768px) {
  .bookList {
    grid-template-columns: repeat(3, 1fr);
    align-items: start; /* забирає пустий простір */
  }
}